@using Manabu.UI.Common.Components
@using Microsoft.AspNetCore.Components.Authorization;

<div class="hmenu">
    <MudPaper Class="hmenu-paper">
        <MudToolBar class="hmenu-toolbar" Style="align-items: center; width: 100%;">
            <MudLink Href="" Style="text-decoration: none; padding-right: 25px; font-size:20px; font-weight: bold; font-family: gentle; color: darkorange !important;">KITSUNE</MudLink>
            @for (int i = 0; i < _buttons.Count; i++)
            {
                var button = _buttons[i];
                @if (button.Buttons is null)
                {
                    <MudButton OnClick=@OnMenuItemButtonClick Href=@button.Href Style="border-radius: 0; font-weight: bold; font-family: unica; font-size: 15px; height: 100%;">@button.Name</MudButton>
                }
                else
                {
                    <MudMenu Label=@button.Name ActivationEvent="@MouseEvent.MouseOver">
                        <ChildContent>
                            @foreach (var nButton in button.Buttons)
                            {
                                <MudMenuItem OnClick=@OnMenuItemButtonClick Href =@nButton.Href>@nButton.Name</MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                }
            }
        </MudToolBar>
    </MudPaper>
</div>

<div class=@_vmenuDisplayCssClass>
    <MudOverlay Visible=@_menuOn OnClick=@OnOverlayClick DarkBackground="true" ZIndex="0" />
</div>

<div class="vmenu">
    <SiteTitle>@SiteTitle.Name</SiteTitle>
    @if (!_menuOn)
    {
        <MudIconButton OnClick=@OnMenuButtonClick Class="menu-btn" Icon=@Icons.Material.Outlined.Menu></MudIconButton>
    }
    <MudPaper Class=@($"vmenu-paper py-3 {_vmenuDisplayCssClass}") Width="150px" Elevation="0">
        <MudNavMenu Bordered="true" Style="display: flex;  flex-direction: column; align-items: start;">
            <MudLink Href="" Style="text-decoration: none; text-align: center; padding-left: 20px; padding-bottom: 15px; font-size:20px; font-weight: bold; font-family: gentle; color: darkorange !important;">KITSUNE</MudLink>
            @foreach (var button in _buttons)
            {
                @if (button.Buttons is null)
                {
                    <MudButton OnClick=@OnMenuItemButtonClick Href =@button.Href Style="padding-left: 20px; display: flex; justify-content: start; text-align: left; width:100%; border-radius: 0; font-weight: bold; font-family: unica;">
                        @button.Name
                    </MudButton>
                }
                else
                {
                    <MudNavGroup Title=@button.Name>
                        @foreach (var nButton in button.Buttons)
                        {
                            <MudNavLink OnClick=@OnMenuItemButtonClick Href=@nButton.Href>@nButton.Name</MudNavLink>
                        }
                    </MudNavGroup>
                }
            }
        </MudNavMenu>
    </MudPaper>
</div>

@*<div class="menu-image"></div>*@

@code {
    private bool _menuOn;

    private string _vmenuDisplayCssClass => _menuOn ? "" : "display-none";

    [Inject] public AuthenticationStateProvider Auth { get; set; }
    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] public State.SiteTitle SiteTitle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SiteTitle.Subscribe(() => InvokeAsync(StateHasChanged));

        if (await Auth.IsSignedIn() is false)
        {
            _buttons.Add(new("Contact", "/contact"));
            _buttons.Add(new("Sign In", AuthenticationStateProviderExtensions.SignInUrl));
        }
        else
        {
            _buttons.Add(new("Rehearse", "/rehearse"));
            _buttons.Add(new("Courses", "/courses"));
            _buttons.Add(new("Contact", "/contact"));
            _buttons.Add(new("Sign Out", AuthenticationStateProviderExtensions.SignOutUrl));
        }
    }

    private Task OnMenuButtonClick(MouseEventArgs args)
    {
        _menuOn = !_menuOn;
        return InvokeAsync(StateHasChanged);
    }

    private Task OnMenuItemButtonClick(MouseEventArgs args)
    {
        _menuOn = false;
        return InvokeAsync(StateHasChanged);
    }

    private List<Button> _buttons = new()
    {
        //new("Dashboard", "/dashboard"),

        
        //new("Linguistics", "/linguistics"),
        //new("Media", "/media", new()
        //{
        //    new("Courses", "/courses"),
        //    new("Lessons", "/lessons"),
        //    new("Manga", "/manga"),
        //    new("Anime", "/anime"),
        //}),
        //new("Flashcards", "/flashcards"),
    };

    public Task OnOverlayClick()
    {
        _menuOn = !_menuOn;
        return InvokeAsync(StateHasChanged);
    }

    record Button(string Name, string? Href = "", List<Button>? Buttons = null);
}
