@page "/words/themes"
@using Manabu.UI.Common.Components
@using Manabu.UI.Common.State
@using MudBlazor.Interfaces

@inherits CoreComponent

<style>
    .bg {
        background-image: url('_content/Manabu.UI.Common/images/wall.jpg'); 
        background-repeat: repeat-y;
        background-size: cover; 
        opacity: 0.2;
    }

    .bg-settings {
        background-image: url('_content/Manabu.UI.Common/images/wall.jpg'); 
        background-repeat: repeat-y;
        background-size: cover; 
    }

    .anim {
        position: relative;
    }

    .btn-bg {
        background-image: url('_content/Manabu.UI.Common/images/wall.jpg');
        background-size: cover;
        opacity: 1;
        filter: brightness(20%);
    }

    .neon-button {
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        border: red 2px solid;
        box-shadow: inset 0 0 0.5em 0 red, 0 0 0.5em 0 red;
    }

    @@keyframes glow {
        from {
            text-shadow: 0px 0px 5px black
        }

        to {
            text-shadow: 2px 2px 15px black
        }
    }
</style>

@* <MudStack Row=true Class="flex flex-wrap">
        <MudTooltip Text="Add Phrase">
            <MudIconButton Icon="@Icons.Material.Outlined.AddBox" aria-label="delete" />
        </MudTooltip>
        <MudDivider Vertical="true" FlexItem="true" />
        <MudTooltip Text="Multiselect">
            <MudIconButton Icon="@Icons.Material.Outlined.SelectAll" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Edit">
            <MudIconButton Icon="@Icons.Material.Outlined.Edit" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Cut">
            <MudIconButton Icon="@Icons.Material.Outlined.ContentCut" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Copy All">
            <MudIconButton Icon="@Icons.Material.Outlined.CopyAll" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Paste">
            <MudIconButton Icon="@Icons.Material.Outlined.ContentPaste" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Settings">
            <MudIconButton Icon="@Icons.Material.Outlined.Settings" aria-label="delete" />
        </MudTooltip>
        <MudTooltip Text="Display Settings">
            <MudIconButton Icon="@Icons.Material.Outlined.Create" aria-label="delete" />
        </MudTooltip>
    </MudStack> *@

<div class="word-themes w-full h-full flex flex-col items-center mb-10 top-[72px] pt-5">
    
    <MudIconButton Icon=@Icons.Material.Filled.Settings 
        OnClick=@(() => _settings.SwitchOpen())
        Class="fixed z-10 settings-button top-[75px] usmx:top-[11px] right-[15px] hover:brightness-80" />
    
    @* <button class="fixed bg-red-200 h-[30px] w-[30px] border-none brightness-50 z-20 hover:brightness-[1.75]" style="filter: brightness(0)"></button> *@
        
    <div class="scroll-enabler absolute h-full w-full"></div>
    <div class="relative mb-5">
        <MudText Class="font-bold text-4xl mb-5 usmx:text-3xl w-full text-center">Words By Theme</MudText>
        <MudText Class="text-md z-10 text-center">
            &nbsp;&nbsp;&nbsp;&nbsp; Initial lists contain basic vocabulary grouped by theme. It overlaps with JLPT level words starting from N5 level, but might include more similar words, so
            it can be learned at the same time.
        </MudText>
    </div>
    
    <WordThemesSettings @ref=@_settings OnChanged=@OnSettingsChanged />

    @{ 
    }
    <div class="flex @layoutCss">
        <WordThemeSection Title="Numbers" 
            Color=@WordThemeSection.SectionColor.Blue
            Layout=@(_settings is null ? WordThemesSettings.LayoutType.Vertical : _settings.Layout)>
            <WordThemeSectionRow Title="Digits">
                <WordTile MainText="零"
                          MeaningText="zero"
                          HiraganaText="れい"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="一"
                          MeaningText="one"
                          HiraganaText="いち"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="二"
                          MeaningText="two"
                          HiraganaText="に"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="三"
                          MeaningText="three"
                          HiraganaText="さん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="四"
                          MeaningText="four"
                          HiraganaText="よん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="五"
                          MeaningText="five"
                          HiraganaText="ご"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="六"
                          MeaningText="six"
                          HiraganaText="ろく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="七"
                          MeaningText="seven"
                          HiraganaText="なな"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="八"
                          MeaningText="eight"
                          HiraganaText="はち"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="九"
                          MeaningText="nine"
                          HiraganaText="きゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Tens">
                <WordTile Class="w-full"
                          MainText="十"
                          MeaningText="ten"
                          HiraganaText="じゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="二十"
                          MeaningText="twenty"
                          HiraganaText="にじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="三十"
                          MeaningText="thirty"
                          HiraganaText="さんじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="四十"
                          MeaningText="forty"
                          HiraganaText="よんじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="五十"
                          MeaningText="fifty"
                          HiraganaText="ごじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="六十"
                          MeaningText="sixty"
                          HiraganaText="ろくじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="七十"
                          MeaningText="seventy"
                          HiraganaText="ななじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="八十"
                          MeaningText="eighty"
                          HiraganaText="はちじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="九十"
                          MeaningText="ninety"
                          HiraganaText="きゅうじゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Hundreds">
                <WordTile Class="w-full"
                          MainText="百"
                          MeaningText="hundred"
                          HiraganaText="ひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="一百"
                          MeaningText="one hundred"
                          HiraganaText="ひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="二百"
                          MeaningText="two hundreds"
                          HiraganaText="にひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="三百"
                          MeaningText="three hundreds"
                          HiraganaText="さんびゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="四百"
                          MeaningText="four hundreds"
                          HiraganaText="よんひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="五百"
                          MeaningText="five hundreds"
                          HiraganaText="ごひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="六百"
                          MeaningText="six hundreds"
                          HiraganaText="ろっぴゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="七百"
                          MeaningText="seven hundreds"
                          HiraganaText="ななひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="八百"
                          MeaningText="eight hundreds"
                          HiraganaText="はっぴゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="九百"
                          MeaningText="nine hundreds"
                          HiraganaText="きゅうひゃく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Thousands">
                <WordTile Class="w-full"
                          MainText="千"
                          MeaningText="thousand"
                          HiraganaText="せん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="一千"
                          MeaningText="one thousand"
                          HiraganaText="いっせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="二千"
                          MeaningText="two thousands"
                          HiraganaText="にせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="三千"
                          MeaningText="three thousands"
                          HiraganaText="さんぜん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="四千"
                          MeaningText="four thousands"
                          HiraganaText="よんせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="五千"
                          MeaningText="five thousands"
                          HiraganaText="ごせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="六千"
                          MeaningText="six thousands"
                          HiraganaText="ろくせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="七千"
                          MeaningText="seven thousands"
                          HiraganaText="ななせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="八千"
                          MeaningText="eight thousands"
                          HiraganaText="はっせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="九千"
                          MeaningText="nine thousands"
                          HiraganaText="きゅうせん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Tens of Thousands">
                <WordTile Class="w-full"
                          MainText="十万"
                          MeaningText="ten thousands"
                          HiraganaText="じゅう"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="一万"
                          MeaningText="one ten thousands"
                          HiraganaText="いちまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="二万"
                          MeaningText="twenty thousands"
                          HiraganaText="にまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="三万"
                          MeaningText="thirty thousands"
                          HiraganaText="さんまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="四万"
                          MeaningText="forty thousands"
                          HiraganaText="よんまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="五万"
                          MeaningText="fifty thousands"
                          HiraganaText="ごまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="六万"
                          MeaningText="sixty thousands"
                          HiraganaText="ろくまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="七万"
                          MeaningText="seventy thousands"
                          HiraganaText="ななまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="八万"
                          MeaningText="eighty thousands"
                          HiraganaText="はちまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="九万"
                          MeaningText="ninety thousands"
                          HiraganaText="きゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Hundreds of Thousands">
                <WordTile MainText="十万"
                          MeaningText="one hundred thousands"
                          HiraganaText="じゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="二十万"
                          MeaningText="two hundred thousands"
                          HiraganaText="にじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="三十万"
                          MeaningText="three hundred thousands"
                          HiraganaText="さんじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="四十万"
                          MeaningText="four hundred thousands"
                          HiraganaText="よんじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="五十万"
                          MeaningText="five hundred thousands"
                          HiraganaText="ごじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="六十万"
                          MeaningText="six hundred thousands"
                          HiraganaText="ろくじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="七十万"
                          MeaningText="seven hundred thousands"
                          HiraganaText="ななじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="八十万"
                          MeaningText="eight hundred thousands"
                          HiraganaText="はちじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />

                <WordTile MainText="九十万"
                          MeaningText="nine hundred thousands"
                          HiraganaText="きゅうじゅうまん"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
        </WordThemeSection>
        <WordThemeSection Title="Colors" Color=@WordThemeSection.SectionColor.Red>
            <WordThemeSectionRow Title="Simple Colors">
                <WordTile MainText="白"
                          MeaningText="white color"
                          HiraganaText="しろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="黒"
                          MeaningText="black"
                          HiraganaText="くろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="赤"
                          MeaningText="red"
                          HiraganaText="あか"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="緑"
                          MeaningText="green"
                          HiraganaText="みどり"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="青"
                          MeaningText="blue"
                          HiraganaText="みどり"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="黄色"
                          MeaningText="yellow"
                          HiraganaText="きいろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="茶色"
                          MeaningText="brown"
                          HiraganaText="ちゃいろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="オレンジ"
                          MeaningText="orange"
                          HiraganaText="おれんぎ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="ピンク"
                          MeaningText="pink"
                          HiraganaText="ぴんく"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow Title="Simple Colors (adjectives)">
                <WordTile MainText="白い"
                          MeaningText="white"
                          HiraganaText="しろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="黒い"
                          MeaningText="black"
                          HiraganaText="くろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="赤い"
                          MeaningText="red"
                          HiraganaText="あか"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="緑い"
                          MeaningText="green"
                          HiraganaText="みどり"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="青い"
                          MeaningText="blue"
                          HiraganaText="みどり"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="黄色い"
                          MeaningText="yellow"
                          HiraganaText="きいろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="茶色い"
                          MeaningText="brown"
                          HiraganaText="ちゃいろ"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
            <WordThemeSectionRow>
                <WordTile MainText="明るい"
                          MeaningText="light"
                          HiraganaText="あかるい"
                          OriginalEnabled=@_settings.IsOriginalShown
                          MeaningEnabled=@_settings.IsMeaningsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
                <WordTile MainText="暗い"
                          MeaningText="dark"
                          HiraganaText="くらい"
                          MeaningEnabled=@_settings.IsMeaningsShown
                          OriginalEnabled=@_settings.IsReadingsShown
                          HiraganaEnabled=@_settings.IsReadingsShown />
            </WordThemeSectionRow>
        </WordThemeSection>
    </div>

</div>

@code {
    private WordThemesSettings _settings;

    string layoutCss => _settings is null || _settings.LayoutTypeSg.Value == WordThemesSettings.LayoutType.Vertical ?
        "flex-col" : "";

    private Task OnSettingsChanged() =>  RefreshView();
}
